.body{
    background-image: url(https://wallpapers.com/images/featured/movie-9pvmdtvz4cb0xl37.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
}

label {
    box-shadow: inset 18px 20px 20px 20px rgb(22 20 20 / 89%);
}

input {
    box-shadow: inset 18px 20px 20px 20px rgb(22 20 20 / 89%);
}