.body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/026/747/041/small/dark-and-blue-concreate-and-cement-wall-to-present-product-and-background-generative-ai-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}